.l-footer{
	position: relative;
	padding: 100px 0;
	background-image: url(../img/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	color: #fff;
	a{
		color: #fff;
	}
	&__item{

	}

	&__logo{
		margin-bottom: 40px;
		img{
			max-height: 96px;
		}
	}

	&__title{
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		color: #FFFFFF;
		margin-bottom: 40px;
	}
	.p-address{
		li{
			display: flex;
			&:not(:last-child){
				margin-bottom: 40px;
			}
			i{
				display: flex;
				flex: 0 0 auto;
				width: 40px;
				margin-right: 8px;
			}
			p+p{
				margin-top: 12px;
			}
		}
	}

	.p-socical{
		li{
			a{
				position: relative;
				display: block;
				transition: .3s;
				&:hover{
					transform: translateY(-5px);
				}
			}
		}
	}

	.p-newsletter{
		position: relative;
		&__input {
			background: transparent;
		    font-size: 14px;
		    padding: 16px 52px 16px 14px;
		    color: #fff;
		    &::placeholder{
		    	color: #fff;
		    }
		    &:hover,&:focus{
		    	background: transparent;
		    	color: #fff;
		    }
		}
		&__submit{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			border: 0;
			padding: 14px;
		}
	}

	&__copyright{
		padding: 28px 0;
		background: #000000;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
	}

	@media ( max-width: 1399px ) {
		padding: 80px 0;
	}
	@media ( max-width: 1199px ) {
		.p-address li:not(:last-child) {
			margin-bottom: 30px;
		}
		.l-footer__title {
		    margin-bottom: 20px;
		}
	}
	@media ( max-width: 991px ) {
    	padding: 60px 0;
	}
	@media ( max-width: 767px ) {
		padding: 40px 0 0;
		.l-footer__item{
			margin-bottom: 68px;
		}
		.p-address li:not(:last-child) {
		    margin-bottom: 20px;
		}
	}
	@media ( max-width: 575px ) {}
}