/*Menu*/
.main__nav{
    position: relative;
    transition: .5s;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    a{
        color: #FFFFFF;
    }
    &.is-sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .el-menu{
        display:flex;
        align-items: stretch;
        justify-content:center;padding:0;
        transition:padding .5s;
        background:none;
        text-align: center;
        &>li{
            padding: 0 42px;
        }
        &>li>a{
            position: relative;
            padding: 10px 0;
            color: #fff;
        }
        &>li>a:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            margin: auto;
            height: 2px;
            background: #fff;
            pointer-events: none;
            opacity: 0;
            transition: .5s;
        }

        &>li.active a, &>li:hover a{

            &:before {
                width: 100%!important;
                opacity: 1!important;
            }
        }

    }
    @media ( max-width: 1599px ) {}
    @media ( max-width: 1399px ) {}
    @media ( max-width: 1199px ) {}
    @media ( max-width: 991px ) {}
    @media ( max-width: 767px ) {}
    @media ( max-width: 575px ) {}
}

/*Menu custom*/
.modal-open{overflow:hidden;}
.dnmenu-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1071;background-color:#000;opacity:0.5;}
.nav__mobile{
    display:block;position:fixed;top:0;height:100%;left:-390px;width:390px;opacity:0;z-index:1072;
    background:rgba(255, 255, 255, 1);
    transition:all .25s;

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    &__menu{overflow-y:auto;}
    &.active{left:0;opacity:1;pointer-events:auto;}
    &__header{
        display: flex;
        align-items: center;
        padding: 20px 9px;
        .mburger .icon-bar{background-color:#000;}
    }
    &__content{
        overflow: auto;
        padding: 16px;
    }
}

.nav__mobile--ul{
    list-style:none;
    padding: 16px;
    margin:0;
    text-align: center;
    text-transform: uppercase;
    li{
        position:relative;
        &:not(:last-child){
            border-bottom: 1px solid #EEEEEE;
        }
        a{
            color:#000000;
            padding:24px 0;
            display:block;
            &:hover{color:#0f0753;}
        }
        &.active{
            a{
                color: #0f0753;
            }
        }

    }
    > li{padding:0;}
}


.nav__mobile__btn{
    position:absolute;top:5px;right:0;
    font-size:19px;padding:0;line-height:40px;min-height:37px;width:40px;border:0;
    background:none;color:#3e252b;cursor:pointer;
    transition: .3s;
    &:focus{outline:none;}
    i{
        font-style:inherit;color:#000;
        &:before,&:after {
            content: "";
            display: block;
            transition: all .5s;
            font-weight: 500;
            height: 16px;
            width: 2px;
            background: #3671a8;
            border-radius: 10px;
            margin: auto;
        }
        &:after {
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 1px);
            transition: .3s;
        }
    }

}

.nav__mobile .sub-active > .nav__mobile__btn i:after {}
.nav__mobile .sub-active > .nav__mobile__btn{transform:rotate(45deg);}

/**/
.mburger{
    .icon-bar{
        width:32px;transition:all 0.2s;background-color:#fff;display:block;height:2px;border-radius:1px;
        &:nth-of-type(1), &:nth-of-type(3){transform:rotate(0);}
        + .icon-bar{margin-top:6px;}
    }

    &.active{
        .icon-bar{
            &:nth-of-type(1){
                transform:rotate(45deg);transform-origin:10% 10%;
            }

            &:nth-of-type(2){
                opacity:0;
            }
            &:nth-of-type(3){
                transform:rotate(-45deg);-ms-transform-origin:10% 90%;transform-origin:18% 90%;
            }
        }
    }
}

@media (max-width:575px){
    .nav__mobile{width:100%;}
}
